*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Sora", sans-serif;
}
body{
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
}
.nav{
     display: flex;
     list-style: none;
}
.link{
     width: 100px;
     height: 50px;
     border-radius: 30px;
     margin: 10px;
     padding: 10px 20px;
     text-decoration: none;
     background: #4cc9f0;
     color: #f8f9fa;
     box-shadow: 0 5px 15px -5px #00000070;
     transition: .3s linear;
}
.link:hover{
     background: #00bbf9;
}
.link.active{
     background: #0466c8;
}